{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prefer-const": 2,
    "sort-imports": "off",
    "import/order": "off",
    "react/jsx-filename-extension": [0],
    "react/jsx-boolean-value": [1, "never"],
    "react/jsx-key": 2
  },
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "env": {
      "es6": true
  }
}
