.gui-main {
  display: grid;
  grid-template-areas: "top-panel top-panel" "left right";
  grid-template-columns: 100%;
  grid-template-rows: fit-content(100%) auto;
  grid-template-columns: fit-content(100%) fit-content(100%);
  justify-content: space-between;
}

.gui-main .top {
    grid-area: top-panel;
    padding: 8px;
    background-color: #0002;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gui-main .left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  padding: 8px;
}

.gui-main .segment {
  width: 60px;
  height: 37px;
  border-radius: 8px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #0004;
  box-shadow: 0px 2px 2px #0004;
}

.gui-main .segment .value {
  margin-top: 8px;
}

.gui-main .segment .bar {
  display: block;
  margin-top: 4px;
  height: 4px;
}

.gui-main .score {
  background-color: #0004;
  box-shadow: 0px 2px 2px #0004;
  padding: 4px;
  border-radius: 4px;
}

.modal-container {
  background-color: #0008;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container > .modal-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.modal-container .modal-title, .modal-container .modal {
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px #0008;
  background-color: #fff;
  color: #004D40;
}

.modal-container .modal-title {
  border: 2px solid #004D40;
  font-weight: bold;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}