@import "./common/index.css";
@import "./layouts.css";

html, body {
  margin: 0;
  font-family: 'Roboto', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #fff;
  text-shadow: 0 0 1px #0002;
  background-color: var(--main-color);
}

hr {
  height: 1px;
  border: none;
  background-color: #004D4030;
}

input {
  outline: none;
}

input[type=text] {
  padding: 4px;
  /* border: 1px solid #80CBC4; */
  border: none;
  border-radius: 4px;
  color: #fff;
  box-shadow: var(--shadow-small-reversed);
  background-color: var(--main-color-light);
}

input[type=text]:focus {
  border-color: #004D40;
}

.debug-info {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #0008;
  color: #fff;
  text-align: right;
}

/* menu-background */
.menu-background {
  background: linear-gradient(120deg, var(--main-color-light), var(--main-color-dark));
  overflow: hidden;
}

.menu-background .bold-item { 
  display: inline-block;
  width: 150px;
  height: 200vh;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg) translateY(-100%);
  border-radius: 100px;
  box-shadow: var(--shadow);
  opacity: 0.5;
  animation: bold-item-slide 20s ease-in-out infinite;
}

.menu-background .bold-item:nth-child(even) { 
  animation-direction: reverse;
  animation-delay: 10s;
}

@keyframes bold-item-slide {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) translateY(-100%);
  }
  20%, 100% {
    transform: translate(-50%, -50%) rotate(45deg) translateY(100%);
  }
}