@import "./common/index.css";

html, body {
  margin: 0;
  font-family: 'Roboto', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #009688;
  color: #fff;
}

button:not(:disabled) {
  cursor: pointer;
}

hr {
  height: 1px;
  border: none;
  background-color: #004D4030;
}

.layout {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.debug-info {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0008;
  color: #fff;
  text-align: right;
}