.spinner {
  width: 40px;
	height: 40px;
	
	margin: 20px auto;
}

.spinner.absolute {
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
}

.spinner:not(.absolute) {
  position: relative;
}

.spinner .double-bounce1, .double-bounce2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinner.colored .double-bounce1, .spinner.colored .double-bounce2 {
  background-color: #009688;
}

.spinner .double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}
